extends baseEmail
block content
  p Hi #{firstName},
  p Forgot password? Change your password by clicking the following URL:
  a(href=`${url}` target='_blank') Reset your password
  p If you didn't forget your password, ignore this email.