extends baseEmail
block content
  p Hi #{firstName},
  p Welcome to Book Saloon
  p Thanks for registering, you can customize your avatar by visiting user settings page:
  a(href=`${url}` target='_blank') Upload avatar